<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite1">
  <test thread-count="5" parallel="classes" name="Test1">
    <classes>
      <class name="ToolTip.JQueryToolTip"/>
      <class name="ToolTip.FirstTestNG"/>
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- Suite1 -->
